@import "src/styles/variables.scss";

.history {
  margin: 24px 0;

  &-title {
    cursor: pointer;
    display: flex;
    align-items: center;

    @media screen and (max-width: $mobile-width) {
      justify-content: space-between;
    }

    &-icon {
      margin-left: 16px;
      width: 16px;
      height: 16px;

      &.open {
        transform: rotate(90deg);
      }
    }
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;

    &-item {
      margin: 0 16px 8px 0;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
