@import "src/styles/variables.scss";

.header {
  background: black;
  color: #ffff;

  &-content {
    padding: 16px 24px;
    display: flex;
    align-items: center;
    max-width: $desktop-width;
    margin: 0 auto;

    @media screen and (max-width: $mobile-width) {
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
      padding: 12px 16px;
    }
  }

  &-navigation {
    display: flex;
  }

  &-name {
    font-size: 32px;
    font-weight: bold;
    margin-right: 24px;
  }

  &-link {
    color: #ffff;
    font-size: 18px;
    text-decoration: none;
    margin-right: 16px;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
