@import "src/styles/variables.scss";

.decoder {
  margin: 0 auto;
  padding: 0 16px;

  &-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;

    &-content {
      font-size: 18px;
      display: flex;
      width: 100%;
      max-width: 600px;

      @media screen and (max-width: $mobile-width) {
        flex-direction: column;
      }
    }

    &-input {
      width: 100%;
      height: 48px;
      font-size: 18px;
      padding: 10px;
      border-radius: 0px;
      outline: none;
      border: 1px solid black;
      margin-bottom: 4px;

      &-container {
        flex-grow: 1;
      }

      &-error {
        color: red;
        font-size: 16px;
        margin-bottom: 8px;
      }
    }

    &-button {
      padding: 0 32px;
      height: 48px;
      border: none;
      background: #212121;
      color: white;
      font-size: 18px;
      font-weight: bold;
      border-radius: 0px;

      &:disabled {
        background: #808080;
      }
    }
  }
}

.decoded {
  &-data {
    padding: 8px;
    display: flex;
    border-bottom: 1px solid rgb(183, 183, 183);

    &:hover {
      cursor: pointer;
      background: rgb(227, 226, 226);
    }

    @media screen and (max-width: $mobile-width) {
      flex-direction: column;
    }

    &-name {
      font-size: 14px;
      font-weight: bold;
      width: 200px;
      flex-shrink: 0;
      margin-right: 8px;
      margin-bottom: 4px;

      @media screen and (max-width: $mobile-width) {
        width: 100%;
      }
    }

    &-value {
      overflow: hidden;
    }
  }
}
